* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 50px 20px;
  background-color: #eaeaea;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: none; }

.resume {
  background-color: #fff;
  border-radius: 15px;
  max-width: 1000px;
  font-weight: normal; }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #E3D9CA;
  background-color: #403F48;
  text-transform: uppercase;
  padding: 20px 0;
  border-radius: 15px 15px 0 0; }
  header h1 {
    padding: 10px 30px;
    letter-spacing: 5px;
    font-size: 2em;
    border: 2px solid #E3D9CA; }
  header .subCaption {
    letter-spacing: 5px;
    margin-bottom: 5px; }
  header hr {
    border: none;
    border-bottom: 2px solid #E3D9CA;
    width: 20%; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main .left {
    padding: 10px;
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #E3D9CA; }
  .main .right {
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -ms-flex: 7;
    flex: 7;
    padding: 30px; }

.block {
  margin-bottom: 3em; }
  .block h2 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin: 0; }

.left .profile-img {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .left .profile-img img {
    width: 100%;
    border-radius: 50%; }

.left .block {
  padding-left: 20px;
  padding-right: 20px; }

.personal ul li, .contact ul li {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .personal ul li p:nth-child(1), .contact ul li p:nth-child(1) {
    font-weight: 500;
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4; }
  .personal ul li p:nth-child(2), .contact ul li p:nth-child(2) {
    font-weight: 400;
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6; }
  .personal ul li p, .contact ul li p {
    font-size: 14px;
    margin: 0; }

.links ul {
  margin-top: 5px; }
  .links ul li {
    padding: 10px 0; }
    .links ul li a {
      color: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .links ul li a i {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .links ul li a span {
        -webkit-box-flex: 7;
        -webkit-flex: 7;
        -ms-flex: 7;
        flex: 7;
        margin-left: 10px;
        font-weight: 500; }

.right .block h2 {
  margin-bottom: 20px; }

.profile p {
  line-height: 1.5; }

.profile .personalAttributes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .profile .personalAttributes li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20%; }
    .profile .personalAttributes li .circle {
      background-color: rgba(89, 108, 104, 0.5);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      position: relative;
      overflow: hidden; }
      .profile .personalAttributes li .circle .p90, .profile .personalAttributes li .circle .p180, .profile .personalAttributes li .circle .p270, .profile .personalAttributes li .circle .p360 {
        width: 50%;
        height: 50%;
        position: absolute;
        background-color: #596C68;
        left: 50%; }
      .profile .personalAttributes li .circle .p180 {
        top: 50%; }
      .profile .personalAttributes li .circle .p270 {
        top: 50%;
        left: 0; }
      .profile .personalAttributes li .circle .p360 {
        left: 0;
        top: 0; }

.inner-circle {
  font-size: 12px;
  text-transform: uppercase;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  border-radius: 100%;
  background-color: #fff;
  color: #596C68;
  font-weight: 500;
  position: absolute;
  index: 100;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.work ul li, .education ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .work ul li .year, .education ul li .year {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-right: 30px; }
    .work ul li .year p, .education ul li .year p {
      margin: 0;
      font-size: 14px;
      display: inline-block;
      background-color: #596C68;
      color: #fff;
      padding: 5px 10px;
      position: relative; }
      .work ul li .year p::after, .education ul li .year p::after {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background-color: #596C68;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: -9px;
        top: 4.5px; }
  .work ul li .content, .education ul li .content {
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
    border-left: 1px solid #596C68;
    padding-left: 20px;
    padding-bottom: 5px;
    position: relative;
    padding-top: 0; }
    .work ul li .content::before, .education ul li .content::before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      background-color: #596C68;
      border-radius: 100%;
      left: -5px;
      top: 10px; }
    .work ul li .content h5, .education ul li .content h5 {
      margin: 0;
      font-size: 1em;
      text-transform: uppercase;
      padding-top: 10px; }
    .work ul li .content p, .education ul li .content p {
      margin: 0;
      color: #596C68;
      line-height: 1.4; }

.program ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .program ul li {
    width: 50%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500; }
    .program ul li .bar {
      border: 1px solid #95A792;
      height: 15px;
      width: 250px;
      border-radius: 5px;
      margin-top: 5px; }
      .program ul li .bar .value {
        height: 100%;
        width: 100%;
        background-color: #95A792; }
      .program ul li .bar .v90 {
        width: 90%; }
      .program ul li .bar .v80 {
        width: 80%; }
      .program ul li .bar .v70 {
        width: 70%; }
      .program ul li .bar .v85 {
        width: 85%; }
      .program ul li .bar .v65 {
        width: 65%; }

.hobbies ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .hobbies ul li {
    width: 20%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .hobbies ul li i {
      color: #596C68;
      margin-bottom: 8px; }
