$mainColor: #403F48;
$lightColor: #E3D9CA;
$darkGreen: #596C68;
$lightGreen: #95A792;

*{
  // border: 1px solid;
  box-sizing: border-box;
}

body {
  padding: 50px 20px;
  background-color: rgb(234, 234, 234);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

.resume {
  background-color: #fff;
  border-radius: 15px;
  max-width: 1000px;
  font-weight: normal;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: $lightColor;
  background-color: #403F48;
  text-transform: uppercase;
  padding: 20px 0;
  border-radius: 15px 15px 0 0;
  h1 {
    padding: 10px 30px;
    letter-spacing: 5px;
    font-size: 2em;
    border: 2px solid $lightColor;
  }
  .subCaption {
    letter-spacing: 5px;
    margin-bottom: 5px;
  }
  hr {
    border: none;
    border-bottom: 2px solid $lightColor;
    width: 20%;
  }
}

.main {
  display: flex;
  .left {
    padding: 10px;
    flex: 3;
    background-color: $lightColor;
  }
  .right {
    flex: 7;
    padding: 30px;
  }
}

.block {
  margin-bottom: 3em;
  h2 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin: 0;
  }
}

// left
.left {
  .profile-img {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .block{
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Personal
.personal, .contact {
  ul {
    li {
      border-bottom: 1px solid;
      padding-bottom: 10px;
      padding-top: 10px;
      display: flex;
      p:nth-child(1){
        font-weight: 500;
        flex: 4
      }
      p:nth-child(2){
        font-weight: 400;
        flex: 6
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }
  }
}

// Link
.links {
  ul {
    margin-top: 5px;
    li {
      padding: 10px 0;
      a {
        color: inherit;
        display: flex;
        align-items: center;
        i {
          flex: 1;
        }
        span {
          flex: 7;
          margin-left: 10px;
          font-weight: 500;
        }
      }
    }
  }
}

.right {
  .block {
    h2 {
      margin-bottom: 20px;
    }
  }
}
// profile
.profile {
  p {
    line-height: 1.5;
  }
  .personalAttributes {
    display: flex;
    li {
      display: flex;
      justify-content: center;
      width: 20%;
      .circle {
        background-color: rgba(89, 108, 104, 0.5);
        width: 100px;height:100px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        .p90, .p180, .p270, .p360 {
          width: 50%;
          height: 50%;
          position: absolute;
          background-color: $darkGreen;
          left: 50%;
        }
        .p180 {
          top: 50%;
        }
        .p270 {
          top: 50%;
          left: 0;
        }
        .p360 {
          left: 0;
          top: 0;
        }
      }
    }
  }
}
.inner-circle {
  font-size: 12px;
  text-transform: uppercase;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  border-radius: 100%;
  background-color: #fff;
  color: $darkGreen;
  font-weight: 500;
  position: absolute;
  index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

// Work, Education
.work, .education {
  ul {
    li {
      display: flex;
      .year {
        flex: 1;
        padding-right: 30px;
        p {
          margin: 0;
          font-size: 14px;
          display: inline-block;
          background-color: $darkGreen;
          color: #fff;
          padding: 5px 10px;
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            background-color: $darkGreen;
            transform: rotate(45deg);
            position: absolute;
            right: -9px;
            top: 4.5px;
          }
        }
      }
      .content {
        flex: 8;
        border-left: 1px solid $darkGreen;
        padding-left: 20px;
        padding-bottom: 5px;
        position: relative;
        padding-top: 0;
        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          background-color: $darkGreen;
          border-radius: 100%;
          left: -5px;
          top: 10px;
        }
        h5 {
          margin: 0;
          font-size: 1em;
          text-transform: uppercase;
          padding-top: 10px;
        }
        p {
          margin: 0;
          color: $darkGreen;
          line-height: 1.4;
        }
      }
    }
  }
}
