doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Brian Fan 
    link(rel="stylesheet" href="css/main.css")
  body
    header
      h1.caption Brian Fan
      .subCaption Web Developer
      hr
    .main
      .left
        .profile-img
        .block  
          h2 Personal
          ul
            li name
              span Brian Fan
            li Birthday
              span 1983/01/01  
            li Relationship
              span single  
            li Nationailty
              span USA  
            li Languages
              span English, Chinese
        .block  
          h2 Contact
          ul
            li Mobile
              span (469)426-2556
            li Home
                span (111)111-1111              
            li Email
              span kuomu.fan@gmail.com 
            li Address
              span 1234 5th Ave #611,
                br 
                |seattle, WA 98121
