doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Brian Fan 
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.css")
  body
    .resume 
      header
        h1.caption Brian Fan
        .subCaption Web Developer
        hr
      .main
        .left
          .profile-img
            img(src="img/fan.jpg")
          .block.personal  
            h2 Personal
            ul
              li 
                p Name
                p Brian Fan
              li 
                p Birthday
                p 01/23   
              li 
                p Nationailty
                p USA  
              li 
                p Languages
                p English, Chinese
          .block.contact  
            h2 Contact
            ul
              li 
                p Mobile
                p (469)426-2556 
              li 
                p Home
                p (469)426-2556             
              li 
                p Email
                p kuomu.fan@gmail.com 
              li 
                p Address
                p 2720 4th Ave #614,
                  br 
                  |Seattle, WA 98121
          .block.links  
            h2 Links
            ul
              li 
                a(href="https://github.com/txbluebee" target="_blank")
                  i.fa.fa-github-square.fa-2x
                  span www.github.com/txbluebee
              li 
                a(href="https://linkedin.com/in/brian-fan" target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
                  span linkedin.com/in/brian-fan           
              li 
                a(href="https://facebook.com/txbluebee" target="_blank")
                  i.fa.fa-facebook-square.fa-2x
                  span facebook.com/txbluebee       
              li 
                a(href="https://codepen.com/txbluebee" target="_blank")
                  i.fa.fa-codepen.fa-2x
                  span codepen.com/txbluebee        
        .right 
          .block.profile
            h2 Profile  
            p I enjoy learning new things especially new technology. Through coding, I can constantly practice problemsolving and express my creativity. There is no better place for me to grow and challenge myself other than being a web developer.
            
            ul.personalAttributes
              li
                .circle
                  .p90
                  .p180
                  .p270
                  .p360    
                  .inner-circle design
              li
                .circle
                  .p90
                  .p180
                  .p270
                  .inner-circle concepts                
              li
                .circle
                  .p90
                  .p180
                  .inner-circle direction                  
              li
                .circle
                  .p90
                  .p180
                  .p270
                  .p360
                  .inner-circle teamwork
              li
                .circle
                  .p90
                  .p180
                  .p270
                  .inner-circle idea                  
          .block.work
            h2 Work
            ul
              li
                .year 
                  p 2017
                .content
                  h5 Web Developer Intern
                  p Artemis Connection
                  p Seattle, WA
                //- .small-circle
              li
                .year 
                 p 2015
                .content
                  h5 Bankruptcy Specialist
                  p Ntt Data Consulting, Inc.
                  p Farmer's Branch, TX
                //- .small-circle                  
              li
                .year 
                 p 2014
                .content
                  h5 Accounting Specialist
                  p Bank of America
                  p Plano, TX
                //- .small-circle                
              li
                .year 
                  p 2012
                .content
                  h5 Senior Operations Specialist
                  p JP Morgan Chase & Co.
                  p Lewisville, TX
                //- .small-circle                                            
                     
          
          //
            Education
          .block.education 
            h2 Education
            ul 
              li
                .year 
                  p 2017
                .content
                  h5 Web Development
                  p Epicodus
                  p JavaScript, Ruby on Rails Track
                .small-circle                   
              li
                .year 
                  p 2007
                .content
                  h5 MBA Accounting
                  p Dallas Baptist University
                .small-circle  
              li
                .year 
                  p 2002
                .content
                  h5 BA Public Finance
                  p National Taipei University
                .small-circle  
                
          //
            Software         
          .block.program
            h2 Skills
            ul
              li HTML/CSS 
                .bar
                  .value
              li JavaScript 
                .bar
                  .value.v80
              li Ruby On Rails
                .bar
                  .value.v80
              li Angular/Node.js 
                .bar
                  .value.v70        
              li Ajax/API
                .bar
                  .value.v85           
              li SQL
                .bar
                  .value.v65  
          //
            Hobbies     
          .block.hobbies
            h2 Hobbies
            ul
              li
                i.fa.fa-film.fa-3x
                | Movies        
              li
                i.fa.fa-pagelines.fa-3x
                | Outdoors         
              li
                i.fa.fa-laptop.fa-3x
                | Programming
              li
                i.fa.fa-gamepad.fa-3x
                | Games            
              li
                i.fa.fa-music.fa-3x
                | Music                
